@font-face {
  font-family: roboto;
  src: url(../font/RobotoSlab.ttf);
}


body {
    align-items: center; 
    background: rgb(13, 17, 19) !important;
    margin: 0;
}

h1, h2, h3, h3, h4{
    color: white;
    margin: 10px 0 0;
    font-family: roboto;
    font-weight: 600;
}

p, a{
    color: #dddddd;
    font-family: roboto;
    font-weight: 600;
    margin: 0 0 10px 0;
}

a{
    text-decoration: none !important;
}
        
.btn{
    cursor: pointer;
}
.btn:hover{
    opacity: .92;
}

.menu-box{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(36, 40, 42, 0);
    z-index: 3;
    transition: 0.2s ease-in-out;
}
        
.menu-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 300px;
    width: 100%;
    background: rgb(36, 40, 42);
    padding: 20px;
    z-index: 3;
    transform: translateX(-100%);
    transition: 0.2s ease-in-out;
}

.menu-box.active{
    display: block;
    background: rgb(36, 40, 42, 0.2);
}

.menu-bar.active{
    transform: translateX(0);
}
        
.menu-bar .mbt{
    display: flex;
    justify-content: space-between;
}
        
.top-logo{
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 20px 0 0;
}

.top-logo img{
    height: 40px;
    width: auto;
}
        
.top-bar{
    position: sticky;
    top: 0; 
    display: flex;
    height: 90px;
    width: 100%;
    background: rgb(13, 17, 19);
    -webkit-box-shadow: 0px 9px 25px -7px rgba(0,0,0,0.86); 
    box-shadow: 0px 9px 25px -7px rgba(0,0,0,0.86);
    z-index: 2;
}    

.top-bar .container{
    display: flex;
    width: 100%;
    transform: translateY(25%);
    justify-content: center;
    
}      

.top-bar .svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #FFF;
}

.vl {
  border-left: 1px solid gray;
}

.logo{
    display: none;
    padding: 7px;
} 
        
.logo img{
    display: inline-flex;
    height: 35px;
    width: auto;
} 
        
.mlogo img{
    display: inline-flex;
    height: 35px;
    width: auto;
    padding: 7px;
} 

#search{
    display: inline-flex;
    width: 100%;

}
        
#searchInput{
    display: inline-flex;
    position: relative;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    margin-left: 10px;
}
        
.searchBar{
    display: inline-flex;
    position: relative;
    background: rgb(36, 40, 42);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 4px 12px;
    border-radius: 4px;
    padding: 7px 0;
    width: 100%;
    height: 35px;
    max-width: 400px;
}

.l{
    display: none;
    background: white;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    transform: translateY(12.5%);
}
        
.l:hover{
    opacity: .9;
}

.l a{
    color: black;
    margin: auto;
}
        
.sug{
    position: relative;
    background: rgb(36, 40, 42);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 4px 12px;
    border-radius: 4px;
    margin: 85px 20px;
    padding: 0 20px;
    overflow: hidden;
    z-index: 1;
    max-width: 350px;
    margin: 10px auto;
}

.res{
    display: flex;
    justify-content: space-between;
}
        
.suggestions img{
    width: 100%;
    height: auto;
    max-width: 350px;
}

.suggestions video{
    width: 100%;
    height: auto;
    max-width: 350px;
}

#downloader{
    display: flex;
    border: none;
    outline: none;
    font-weight: 600;
    background: white;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

.suggestion-item{
    display: flex;
}

.suggestion-item > img{
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.suggestion-item-info{
    display: inline-grid;
    margin: 0 10px;
}

.suggestion-uname{
    font-size: 20px;
}

.suggestion-fname{
    font-size: 15px;
}

.suggestions > div{
    padding: 10px 0px;
    
}
        
.col{
    display: block;
    width: 100%;
    margin: auto;
}
  
.container, .container-lg{
padding-right: 15px;
padding-left: 15px;
margin-left: auto;
    margin-right: auto;
}
        
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
    
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
    .top-bar .container{
        justify-content: space-between;

    }
     .vl {
        border-left: 0;
    }
    
    .top-logo{
        display: none;
    }

    .menu-btn{
        display: none;
    }
    
    .logo{
        display: flex;
    }
    
    .l{
        display: flex;
    }
    
    .col{
        width: 50%;
    }

}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }

}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg{
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg{
    max-width: 1320px;
  }
}

/*****************************/
.media-container{
    display: grid;
    justify-content: space-around;
    margin: 20px;
    padding: 0;
}

.media-container .media-header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0; 
    
}

.media-container .media-header .media-owner{
    display: flex;
}

.media-container .media-header .media-owner .mo-img{
    min-width: 60px;
    min-height: 60px;
    border-radius: 4px;
    overflow: hidden;
}

.media-container .media-header .media-owner .mo-img > img{
    height: 60px;
    width: 60px;
    
}

.media-container .media-header .media-owner .mo-info{
    margin-left: 10px;
}

.media-container .media-header .media-download .downloader{
    background: white;
    font-weight: 600;
}

.media-container .media-content{
    position: relative;
    overflow-x: hidden;
    border-radius: 4px;
    
}

.media-container .media-content .media-file {
    max-width: 500px;
}

.media-container .media-content .media-file > img{
    width: 100%;
    object-fit: cover;
    transition: 0.7s ease-in-out;
    
}

.media-container .media-content .media-file > video{
    width: 100%;
    transition: 0.7s ease-in-out;
}


.media-container .media-info{
    display: flex;
    margin: 20px 0;
    max-width: 500px;
}

.media-container .media-info .mi-stats .ms{
    display: flex;
}
.media-container .media-info .mi-stats .ms .svg-icon path{
    fill: #FFF;
}

.media-container .media-info .mi-description{
    width: 80%
}

.media-container .media-info .mi-stats{
    width: 20%
}

/*****************************/

i{
    color: black;
    transform: translateY(-15%);
}

i:hover{
    opacity: .9;
}
button:hover{
    opacity: .7;
}

.btns{
    background: white;
    border-radius: 99px;
    opacity: .2;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.downloader{
    display: inline-flex;
    font-weight: 600;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    
}
.svg-icon {
  
  width: 2.3em;
  height: 2.3em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000;
}

.svg-icon circle {
  stroke: #FFF;
}

.media{
  -webkit-animation-name: media;
  -webkit-animation-duration: 1s;
  animation-name: media;
  animation-duration: 1s;
}

@-webkit-keyframes media{
  from {opacity: .4;}
  to {opacity: 1t;}
}

@keyframes media{
  from {opacity: .4;}
  to {opacity: 1;}
}

@media only screen and (max-width: 575px) {

}

